<div class="row container">
    <div class="col-md-4">
        <div class="card-body">
            <h5 class="card-title">Add User</h5>
            <div class="card-text">
                <form [formGroup]="userForm" (ngSubmit)="submitForm()">
                    <input type="text" class="form-control" placeholder="Enter Full Name" formControlName="u_name"><br>
                    <input type="email" class="form-control" placeholder="Enter Email" formControlName="u_email"><br>
                    <input type="number" class="form-control" placeholder="Enter Phone" formControlName="u_phone"><br>

                    <input type="text" class="form-control" placeholder="Enter Message" formControlName="u_message"><br>
                    <input type="password" class="form-control" placeholder="Enter Password"
                        formControlName="u_password"><br>
                    <input type="password" class="form-control" placeholder="Confirm Password"
                        formControlName="u_cpassword"><br>


                    <button class="btn btn-primary">Submit</button>
                </form>
                @if (passwordmismatch) {
                <span class="status">Error: {{passwordmismatch}}</span>
                }





            </div>
        </div>




    </div>