<div class="row">
    <div class="container m-5">
        <div class="col-md-5 offset-2">

            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                </div>

                <div class="card-body">
                    <form [formGroup]="loginForm">
                        <input type="email" class="form-control" placeholder="Enter Email Address"
                            formControlName="u_email" /><br>

                        <input type="email" class="form-control" placeholder="Enter Password"
                            formControlName="u_password" /><br>
                        <button class="btn btn-outline-success" type="button" (click)="loginUser()">Login</button>
                    </form>

                    <span class="badge rounded-pill text-bg-secondary">{{loginMessage}}</span>


                </div>


            </div>

        </div>
    </div>
</div>